<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">
  </head>
  <body>
    <div id="app" class="container">
      <App></App>
    </div>
  <script src="/js/vendor.js"></script>
  <script src="/js/app.js"></script>
  </body>
</html>
